:host {

}


// .article-list-holder {
//   width:100%;
//   display: grid;
//   grid-template-columns: auto auto auto auto auto;
//   grid-gap: 0.2rem;
//   grid-column-start: 0;
// }


.article-list-holder {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1.5fr));
    grid-gap: 0.5rem;
    grid-column-start: 0;
  }

// .article-list-holder {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   //justify-content: space-between;
// }


// .article {
//   width: 260px;
//   margin: 0 0.5rem;
// }


// .article-list-holder {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   flex-wrap: wrap;
// }

// .article {
//   width: 260px;
//   margin: 0 0.5rem;
// }



.filter-container{
    width:100%;
    text-align: right;
}


