:host {

}


.article-video{
    width: 100%;
    // background-image: url('assets/success_story_bg.webp');

}
.filter-container{
    width:100%;
    text-align: right;
}

.mat-tab-group {
    margin-bottom: 48px;
  }



