:host {
    iframe {
        width: 100%;
    }
}

mat-card-title{
    font-size:medium;
    font-weight:bold;
}

.video-card {
    max-width: 260px;
    overflow: hidden;
    height: auto;
    min-height: 400px;
}

  


  
  