:host {
    img {
        max-width: 100%;
        width: auto;
    }
}

mat-card-title{
    font-size:medium;
    font-weight:bold;
}

.feature-card {
    //margin-right: 10px;
    max-height: 350px;
    overflow: hidden;

}
  


  
  