/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    font-size: 16px;
    /* //margin-left: 3%;
    margin-right: 3%; */
}
  